@import "tailwindcss";

:root {
    color-scheme: dark;
    background-color: #000000;
}

html {
    @apply h-full;
}

/* Globals */
body {
    margin: 0;
    height: 100%;
    color: var(--color-neutral-100);
    font-family: Inter, sans-serif;
}

h2 {
    @apply mx-10 p-2 text-4xl font-bold text-neutral-100;
}

.button {
    @apply rounded-lg bg-linear-to-b px-7 shadow-md;
    background: linear-gradient(to bottom, #ffffff22, #00000055);
    corner-shape: squircle;
}

svg {
    @apply inline;
}

.error {
    color: red;
}

.root {
    @apply flex h-full flex-col;
}

.featured {
    /* Animated yellow repeated gradient text color */
    background: repeating-linear-gradient(
        45deg,
        #00b6fe 0%,
        #7affdc 20%,
        #00b6fe 40%,
        #7affdc 60%,
        #00b6fe 80%,
        #7affdc 100%
    );
    background-size: 200% auto;
    /* animation: featured-gradient-move 2s linear infinite; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* TODO: Eventually we want to get rid of all below */

/* Level Component */

.modded {
    /* TODO: Too much? */
    @apply bg-purple-950 text-purple-500 outline-purple-500/40;
}

.glow {
    @apply outline-white/40;
}

/* Levelpack Component */

.moddedLevelpack {
    /* TODO: Too much? */
    @apply bg-purple-900 text-purple-400 outline-purple-400/40;
}

/* API */

code {
    @apply mx-0.5 rounded bg-neutral-700 p-1;
}

ul {
    @apply flex list-disc flex-col gap-2;
}

/* API Endpoint */

.warning {
    @apply inline-block bg-black p-2 font-bold;
}

.endpoint.deprecated {
    background: repeating-linear-gradient(45deg, grey, grey 40px, #7f7b78 40px, #7f7b78 80px);
}

.endpoint.game_only {
    background: #847877;
}

.endpoint.deprecated .name,
.warning {
    color: orange;
}

.endpoint.game_only .name,
.endpoint-game_only {
    color: palevioletred;
}

/* Validator */

.code {
    @apply rounded bg-white/20 px-2 font-bold shadow outline-3 outline-white/50;
}

.warningLog {
    @apply shadow-amber-900 outline-4 outline-amber-500;
}

.errorLog {
    @apply shadow-red-900 outline-4 outline-red-500;
}

.level-props {
    text-align: center;
}

.sprites,
.dialogues {
    padding: 10px;
}

.glow {
    filter: drop-shadow(0 0 4px rgba(255, 223, 82, 0.7));
}
