@import "tailwindcss";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    color-scheme: dark;
    background-color: #000000;
}

html {
    @apply h-full;
}

/* Globals */
body {
    @apply m-0 h-full text-neutral-100;
    font-family: Inter, sans-serif;
    /*background: repeating-linear-gradient(*/
    /*        46.2deg,*/
    /*        #721e1e,*/
    /*        #721e1e 10px,*/
    /*        #4c1414 10px,*/
    /*        #4c1414 20px*/
    /*);*/
    /*background-image: url("lib/assets/backgrounds/2.png");*/
}

h2 {
    @apply mx-10 p-2 text-4xl font-bold text-neutral-100;
}

nav {
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(233, 233, 233, 0.2) 90%,
        rgba(255, 255, 255, 0)
    );
    padding: 5px;
    @apply flex items-center justify-center p-1.5 text-black backdrop-blur-[4px];
}

.button {
    @apply rounded-lg bg-linear-to-b px-7 shadow-md;
    background: linear-gradient(to bottom, transparent, #00000044);
}

svg {
    @apply inline;
}

.error {
    color: red;
}

.root {
    @apply flex h-full flex-col;
}

.featured {
    /* Animated yellow repeated gradient text color */
    background: repeating-linear-gradient(
        45deg,
        #feb900 0%,
        #ffed7a 20%,
        #feb900 40%,
        #ffed7a 60%,
        #feb900 80%,
        #ffed7a 100%
    );
    background-size: 200% auto;
    /* animation: featured-gradient-move 2s linear infinite; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@keyframes featured-gradient-move {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* TODO: Eventually we want to get rid of all below */
/* Navbar */

.list a,
.list button {
    @apply cursor-pointer rounded bg-neutral-800 px-4 py-1 text-neutral-200 drop-shadow-2xl transition-colors;
}

.list a:hover,
.list button:hover {
    @apply bg-neutral-900;
}

/* Level Component */

.modded {
    /* TODO: Too much? */
    @apply bg-purple-950 text-purple-500 outline-purple-500/40;
}

.glow {
    @apply outline-white/40;
}

/* Levelpack Component */

.moddedLevelpack {
    /* TODO: Too much? */
    @apply bg-purple-900 text-purple-400 outline-purple-400/40;
}

/* API */

code {
    @apply mx-0.5 rounded bg-neutral-700 p-1;
}

ul {
    @apply flex list-disc flex-col gap-2;
}

/* API Endpoint */

.warning {
    @apply inline-block bg-black p-2 font-bold;
}

.endpoint.deprecated {
    background: repeating-linear-gradient(45deg, grey, grey 40px, #7f7b78 40px, #7f7b78 80px);
}

.endpoint.game_only {
    background: #847877;
}

.endpoint.deprecated .name,
.warning {
    color: orange;
}

.endpoint.game_only .name,
.endpoint-game_only {
    color: palevioletred;
}

/* Validator */

.code {
    @apply rounded bg-white/20 px-2 font-bold shadow outline-3 outline-white/50;
}

.warningLog {
    @apply shadow-amber-900 outline-4 outline-amber-500;
}

.errorLog {
    @apply shadow-red-900 outline-4 outline-red-500;
}

.level-props {
    text-align: center;
}

.sprites,
.dialogues {
    padding: 10px;
}

/* Log */

.log {
    @apply my-2 rounded p-2 font-bold shadow drop-shadow *:gap-2;
}

.icon {
    @apply text-2xl;
}
